{
  "presets": [
    [
      "@babel/preset-env",
      {
        "exclude": [
          "transform-async-to-generator",
          "transform-regenerator"
        ],
        "loose": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
  ]
}
